body{
    line-height: 0px;
}

#canvas{
    max-width: 700px;
    max-height: 700px;
    margin-top: 20px;
    border: 1px solid black;
    padding: 0px;
    /* transition-duration: 0.3s; */
}

.cells{
    width: 5px;
    height: 5px;
    margin: 0px;
    display: inline-block;
    transition-duration: inherit;
    border: 1px solid black;
}

.hover{
    background-color: yellow;
    transition-duration: inherit;
}